.addtodo {
  @extend %box-shadow;
  background-color: $bg-color;
  border-radius: 20px;
  padding: 20px;
  width: inherit;
  outline: none;
}

.addtodo__title {
  font-size: 26px;
  color: $titles-color;
}

.addForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addForm__textarea {
  outline: none;
  resize: none;
  width: 90%;
  height: 180px;
  margin-bottom: 20px;
  background: $white-color;
  border-radius: 3px;
  border: none;
  border-bottom: solid 2px $green-color;
  padding: {
    left: 10px;
    top: 10px;
  }
}

.addForm__input {
  width: 90%;
  background: none;
  border: none;
  border-bottom: solid 1px $green-color;
  padding: 10px 7px;
  margin-bottom: 20px;
}
.addtodo__content--btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addtodo__btn {
  @extend %box-shadow;
  margin: 5px;
  padding: 8px 10px;
  width: 140px;
  border-radius: 10px;
}

.submit {
  background-color: $green-color;
}

.close {
  background-color: $red-color;
}
