%detail-btn {
  border-style: none;
  color: $white-color;
  font-size: 30px;
  width: 50%;
  padding: 10px 0px;
  transition: 0.2s;
  &:hover {
    transition: 0.1s;
    transform: scale(1.1);
    opacity: 0.8;
  }
}

.detail {
  @extend %box-shadow;
  position: relative;
  background-color: $white-color;
  margin: auto;
  padding: 0;
  width: 80%;
  @media screen and (min-width: $break-medium) {
    width: 100%;
  }
  @media screen and (min-width: $break-large) {
    width: 80%;
  }
}

.detail__header {
  background-color: $btn-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  min-height: 110px;
}
.headerTitle {
  p {
    font-weight: 700;
    font-size: 3vw;
    color: $white-color;
  }
}
.headerImg {
  @extend %coverimg;
  @extend %box-shadow;

  width: 40px;
  height: 40px;
}
.headerProfileName {
  color: $white-color;
  margin-right: 5px;
  font-size: 2vw;
  font-weight: 200;
}

.headerAuthor {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.detail__closeBtn {
  @extend %detail-btn;
  background-color: $red-color;
}
.detail__submitBtn {
  @extend %detail-btn;
  background-color: $green-color;
}
.detail__body {
  padding: 30px 10px;
  align-items: center;
  @media screen and (min-width: $break-medium) {
    padding: 30px 50px;
  }
}

.detail__footer {
  display: flex;
  width: 100%;
}
