.tasks__header {
  margin: {
    top: 23px;
    bottom: 12px;
  }
  @media screen and (min-width: $break-small) {
    display: flex;
  }
  @media screen and (min-width: $break-medium) {
    display: none;
  }
}

.description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  h1 {
    font-size: 19px;
    font-weight: 700;
    color: $titles-color;
    margin-right: 8px;
  }
  p {
    font-weight: 700;
    color: $btn-color;
    font-size: 13px;
  }
}
.addTask {
  @extend %box-shadow;
  padding: 10px;
  border-radius: 10px;
  background-color: $green-color;
}

.tasks__list {
  @media screen and (min-width: $break-medium) {
    margin: 20px 0px;
    div {
      max-width: 550px;
    }
  }
  @media screen and (min-width: $break-large) {
    display: block;
    column-count: 2;
    div {
      max-width: 760px;
    }
  }
}
